* {
  font-family: sans-serif, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
img {
  margin: 0;
  height: auto;
}
body {
  font-size: 14px;
  background-color: #091117;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
header {
  z-index: 9999999;
  width: 100vw;
  position: fixed;
  background-color: #091117;
  height: 80px;
}
header .container {
  font-weight: 700;
  font-size: small;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
}

header .container .banner img {
  height: 38px;
}

header .container .links {
  padding: 0 50px;
  display: flex;
  gap: 25px;
}

header .container .links .active {
  display: flex;
  flex-direction: column;
  color: #229bd5;
}

header .container .links .link {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container .links .active .triangle-down {
  position: absolute;
  top: 0;
  border-top-color: #229bd5;
}

header .container .links a:hover {
  color: #229bd5;
  transition: ease-in-out 0.1s;
}

header .container .button-911 {
  font-weight: 550;
  border-radius: 18px;
  padding: 10px 32px;
  border: 1.5px solid #b00;
}

header .container .button-911:hover {
  background-color: #b00;
  transition: ease-in-out 0.1s;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid blue;
}

.security::before {
  overflow: hidden;
  content: " ";
  transform: translateX(-40%);
  background: url(/assets/img/lines.svg) no-repeat 75% 0;
  background-position-x: 75%;
  background-position-y: 0px;
  background-size: auto;
  background-size: initial;
  position: absolute;
  z-index: 1;
  top: 100px;
  height: 1708px;
  width: 100%;
  max-width: 1708px;
}

.security {
  color: white;
}

.generic-banner {
  text-align: center;
  padding: 200px;
  background: linear-gradient(317deg, rgba(54, 132, 166, 0.48), #0f212e 48%);
}

.generic-banner-header {
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 50px;
}

.generic-banner-subheading {
  position: relative;
  z-index: 2;
  font-size: 18px;
  margin-bottom: 30px;
}

.generic-banner-caption {
  position: relative;
  z-index: 2;
  max-width: 630px;
  margin: 0 auto;
  font-size: medium;
}

.customers-section {
  color: black;
  text-transform: uppercase;
  padding: 0px 60px;
  background-color: #fff;
}

.customers-section .customers-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 60px 50px;
  margin: 0 auto;
}

.customers-section .title {
  overflow: hidden;
  margin: 20px 0;
  display: flex;
  align-items: center;
  width: 100%;
  color: black;
}

.customers-section .title .line {
  background: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 1px;
  opacity: 20%;
}

.customers-section .title h5 {
  width: 50%;
  padding: 0 20px;
  font-size: 14px;
}

.customer-images {
  display: flex;
  flex-wrap: wrap;
}

.customer-images a {
  z-index: 3;
  width: 20%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: opacity 0.1s ease-in-out;
}

.customer-images a:hover {
  opacity: 0.5;
}

.customer-images img {
  max-width: 103px;
}
.customer-images img.bigger {
  max-width: 130px;
}

.customer-images img.smaller {
  max-width: 90px;
}

.awards-images {
  display: flex;
  justify-content: center;
}

.awards-images a {
  display: flex;
  width: 20%;
  float: left;
  text-align: center;
  height: 100px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: opacity 0.1s ease-in-out;
  z-index: 3;
}

.awards-images a:hover {
  opacity: 0.5;
}

.awards-images img {
  max-width: 103px;
}

.shield {
  margin-top: 80px;
  padding-bottom: 50px;
}

footer {
  position: relative;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 50px;
  background-color: black;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

.footer-icons a svg {
  width: 21px;
  opacity: 0.1s ease-in-out;
}

.footer-icons a:hover {
  opacity: 0.7;
}
.footer-blurb {
  text-align: center;
}

.transform-left {
  transform: translateX(-5%);
}

.transform-right {
  transform: translateX(+5%);
}

.text-heading {
  font-size: 24px;
  text-transform: none;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.text-heading hr {
  margin: 30px 0;
  color: #229bd5;
  width: 10%;
}

.text-section {
  overflow: hidden;
  padding: 80px 50px;
}

.bg-dark-two {
  background: #13212d;
}

.customer-first {
  padding: 190px 0;
}

.cost-effective {
  padding: 140px 0;
}

.handpicked-team,
.customer-first {
  position: relative;
}

.handpicked-team::before {
  top: 30%;
  height: 1000px;
  width: 1000px;
  left: auto;
  right: 62%;
  transform: translateY(-50%);
  content: "";
  position: absolute;
  background: url("/assets/img/static/diamond-handpicked.svg") no-repeat 0 0;
  background-size: auto;
  background-size: contain;
}

.customer-first::before {
  height: 700px;
  width: 700px;
  right: 20%;
  top: 120px;
  transform: translate(55%, 10%);
  content: "";
  position: absolute;
  background: url("/assets/img/static/diamond-handpicked.svg") no-repeat 0 0;
  background-size: auto;
  background-size: contain;
}

.handpicked-team .text-inner-left,
.customer-first .text-inner-right,
.cost-effective .text-inner-left {
  display: flex;
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
}

.handpicked-team .content,
.cost-effective {
  margin: auto 0;
  padding-left: 16%;
}

.customer-first .content {
  margin: auto 0;
  padding-right: 16%;
}

.cost-effective .content {
  margin: auto 0;
  padding-left: 50%;
}
.text-content {
  color: #babcbe;
}

.text-inner-right img.right {
  max-width: 30%;
}

.cost-effective .text-inner-left img.left {
  right: 75%;
  left: auto;
  top: -30px;
  position: absolute;
}

.cost-effective .text-inner-left .text-content {
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
}

.get-in-touch {
  padding: 120px 0;
}

.get-in-touch .inner {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
}

.get-in-touch .inner .item {
  margin-top: 90px;
  display: flex;
}

.get-in-touch .inner .item .icon {
  width: 72px;
  height: 72px;
}

.get-in-touch .inner .item .icon img {
  max-height: 100%;
  width: auto;
}

.get-in-touch .inner .item .content {
  margin-left: 30px;
}
.get-in-touch h1 {
  text-transform: none;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.6px;
}

.get-in-touch p {
  color: #babcbe;
}

.get-in-touch .cta {
  clear: both;
  text-align: center;
  padding-top: 86px;
}

.get-in-touch .button {
  display: inline-block;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  border-radius: 24px;
  font-weight: 700;
  padding: 2px;
  background-image: linear-gradient(107deg, #229bd5, #1ec5c0);
}

.get-in-touch .button span {
  align-items: center;
  background: #091117;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  transition: background 0.5s ease;
  padding: 13px 40px 10px;
}

.get-in-touch .button span:hover {
  background-image: linear-gradient(107deg, #229bd5, #1ec5c0);
}
